<%= error_messages_for 'challenge' %>

<!--[form:challenge]-->
<p><label for="challenge_num_challengers">Number of Challengers</label><br/>
<%= text_field 'challenge', 'num_challengers' %></p>
<!--[eoform:challenge]-->
