<h3>Waiting for Challengers</h3>
<% if @pending_challenges != nil %>
<ul class="waitingForChallengers">
	<% for challenge in @pending_challenges %>
		<li><%= challenge.id %></li>
	<% end %>
</ul>
<% end %>
<%= link_to 'Create Challenge', :action => 'create' %>
