<%= error_messages_for 'match' %>

<!--[form:match]-->
<p><label for="match_num_challengers">Number of Challengers</label><br/>
<%= text_field 'match', 'num_challengers' %></p>
<!--[eoform:match]-->
