<h3>Waiting for Challengers</h3>
<% if @pending_challenges != nil %>
<ul class="waitingForChallengers">
	<% for challenge in @pending_challenges %>
		<li><%= challenge.id %>
		  <% for challenger_invite in challenge.challenger_invites %>
			<span class="invite"><%= challenger_invite.warlock.name %></span>
		  <% end %>
		</li>
	<% end %>
</ul>
<% end %>

<% if @ready_matches != nil %>
<ul class="readyMatches">
  <% for match in @ready_matches %>
    <li><%= match.id %></li>
  <% end %>
</ul>
<% end %>
<%= link_to 'Create Challenge', :action => 'create' %>
