<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_userid">Userid</label><br/>
<%= text_field 'user', 'userid' %></p>
<p><label for="user_password">Password</label><br/>
<%= text_field 'user', 'password' %></p>
<!--[eoform:user]-->
